{{$prefix := .Prefix}}
<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Admin Site</title>
 
    <link rel="stylesheet" id="theme-link" href="/admin/static/bootstrap.min.css">
    <link rel="stylesheet" id="iconlib-link" href="/admin/static/spectre-icons.min.css">
    <link rel="stylesheet" id="iconlib-link" href="/admin/static/mvp.css">
  <style id="theme-default"></style><style id="theme-html"></style></head>
  <body>
    <div class="container grid-xl">
      <div class="row columns md:flex">
        <div class="col-4 col-md-4 w-4/8">
          <ul>
            {{range .Structs}}
            <li><a href="{{$prefix}}/edit/{{.}}">{{.}}</a></li>
            {{end}}
          </ul>
          <ul>
            {{range .Funcs}}
            <li>
              <form action="{{$prefix}}/call/{{.}}" method="Post">
                <input type="Submit" value="{{.}}">
              </form>
            </li>
            {{end}}
          </ul>

        </div>
        <div class="col-8 col-md-8 w-8/12">
          <div id="editor_holder" data-theme="bootstrap4" class="je-ready">
            {{ if .Form}}
            <form  method="POST">
              {{.Form}}
              <br>
              <input type="submit" value="Save"/>
            </form>
            {{ end }}
            {{ if .Deleteable }}
            <form action="{{$prefix}}/delete/{{.Name}}" method="Post" 
               onSubmit="return confirm('Are you sure you want to delete this?  No going back.')">
              <input type="submit" value="🗑 Delete"/>
            </form>
            {{ end }}
          </div>
        </div>
      </div>
    </div>

  
  

</body></html>