<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Basic JSON Editor Example</title>
    <script src="/static/jsoneditor.min.js"></script>
 
    <link rel="stylesheet" id="theme-link" href="/static/bootstrap.min.css">
    <link rel="stylesheet" id="iconlib-link" href="/static/spectre-icons.min.css">
    <style id="theme-bootstrap4"></style>
  <style id="theme-default"></style><style id="theme-html"></style></head>
  <body>
    <h1>Basic JSON Editor Example</h1>

    <div class="container grid-xl">
      <div class="row columns md:flex">
        <div class="col-8 col-md-8 w-8/12">
          <div id="editor_holder" data-theme="bootstrap4" class="je-ready">
            <form target="/" method="POST">
              {{.Form}}
              <input type="submit"/>

            </form>
          </div>
        </div>
      </div>
    </div>

  
  

</body></html>